body {
  /* font-family: 'times new roman', sans-serif !important; */
  background-color: white;
  margin: 0px;
}   

.mycustom-jumbotron{
  padding-top: -176px;
  margin-top: 0 auto;
  background: #b3b3b3;
  padding-bottom: -176px;
}

.mycustom-header {
  padding-top: 170px;
  padding-bottom: 170px;
  text-align: center;
  background: #b3b3b3;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/book2.jpg");
  background-size: cover;
  background-position-y: -80px;
}

.mycustom-header h1 {
  font-size: 60px;
}

.mycustom-topnav {
  overflow: hidden;
  background-color: rgb(150, 150, 150);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  font-size: 18px;
  z-index: 2; 
  font: bold;
  font-family: Helvetica,
}

.mycustom-topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.mycustom-topnav a.mycustom-right {
  float: right;
  color: white;
}

.mycustom-topnav a:hover {
  background-color: #ddd;
  color: black;
}

.mycustom-topnav a.mycustom-active {
  background-color: rgb(85, 85, 85);
  color: white;
}

.mycustom-topnav .mycustom-search-container {
  float: right;
}

.mycustom-topnav .mycustom-search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.mycustom-topnav .mycustom-search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.mycustom-topnav .mycustom-search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .mycustom-topnav {
    float: none;
  }
  .mycustom-topnav .mycustom-search-container {
    float: none;
  }
  .mycustom-topnav a, .mycustom-topnav .mycustom-right, .mycustom-topnav input[type=text], .mycustom-topnav .mycustom-search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .mycustom-topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

.mycustom-topnav .mycustom-modal input[type=text], .mycustom-topnav .mycustom-modal input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.mycustom-topnav .mycustom-modal-container-top button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.mycustom-topnav .mycustom-modal-container-bottom button {
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 14px 14px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%;
}

.mycustom-topnav .mycustom-modal-container-bottom-signup button {
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 14px 14px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
  background-color: #5bbdffa4;
}

.mycustom-cancelbtn {
  border: none;
  width: auto;
  background-color: #f44336;
  color: #ddd;
}


.mycustom-modal-imgcontainer {
  text-align: center;
  margin: 15px 0 0px 0;
  position: relative;
}

img.mycustom-modal-avatar {
  width: 30%;
  border-radius: 30%;
}

.mycustom-modal-container-top {
  padding: 5px 16px 16px 16px;
}

.mycustom-modal-container-bottom {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.mycustom-modal .mycustom-psw a {
  float: right;
  color: blue;
  block-size: none;
  text-align: center;
  text-decoration: none;
  padding-left: 5px;
}

.mycustom-modal .mycustom-psw  a:hover {
  background: none;
}

.mycustom-psw a{
  padding-top: 0px;
}

span.mycustom-psw {
  float: right;
  padding-top: 16px;
}

.mycustom-modal .mycustom-terms a {
  float: right;
  color: blue;
  block-size: none;
  text-align: center;
  text-decoration: none;
  padding-left: none;
  margin-left: none;
}

.mycustom-modal .mycustom-terms  a:hover {
  background: none;
}

.mycustom-terms a{
  padding-top: 0px;
}

.mycustom-modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}

.mycustom-modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 40%; 
}

.mycustom-modal-close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.mycustom-modal-close:hover, .mycustom-modal-close:focus {
  color: red;
  cursor: pointer;
}

.mycustom-modal-animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.mycustom-psw {
     display: block;
     float: none;
  }
  .mycustom-cancelbtn {
     width: 100%;
  }
}

.mycustom-column {
  padding-top: 2%;
  float: left;
}

.mycustom-sortby_text {
  padding: 10%;
  text-align: center;
}

.mycustom-column.mycustom-side{
  background-color: #ddd;
  width: 20%;
  height: 100%;
}

.mycustom-column.mycustom-side a, .mycustom-dropdown-btn {
  padding: 5%;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  border: none;
  background: rgb(209, 209, 209);
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.mycustom-column.mycustom-side a:hover {
  background-color: none;
  color: none;
}

.mycustom-active {
  background-color: #089bfda4;
  color: white;
}

.mycustom-dropdown-container {
  display: none;
  background-color:  #e9e9e9;
}


.mycustom-dropdown-container li{
  list-style-type: none;
  margin-right: 9%;
  padding-top: 10%;
  padding-left: 5%;
}

.mycustom-checkbox {
  display: block;
  position: relative;
  padding-left: 40px;
  padding-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0px;
}

/* Hide the browser's default checkbox */
.mycustom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.mycustom-checkmark {
  position: absolute;
  border-style: solid;
  border-width: 2px;;
  border-radius: 7px;
  border-color: #919191;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.mycustom-checkbox:hover input ~ .mycustom-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.mycustom-checkbox input:checked ~ .mycustom-checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.mycustom-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.mycustom-checkbox input:checked ~ .mycustom-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.mycustom-checkbox .mycustom-checkmark:after {
  top: 6px;
	left: 6px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: rgb(252, 252, 252);
}

.mycustom-dropdown-btn-sort {
  padding: 5%;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  border: none;
  background:  rgb(13, 151, 0);
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

@media screen and (max-width: 700px) {
  .mycustom-column.mycustom-side {
    width: 100%;
    height: auto;
    position: relative;
  }
  .mycustom-column.mycustom-side a {float: left;}
  div.mycustom-content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .mycustom-column.mycustom-side a {
    text-align: center;
    float: none;
  }
}

.mycustom-column.mycustom-main {
  width: 80%;
}

.mycustom-book_section{
  text-align: center;
}

.mycustom-book_section_div {
  padding: 1.5%;
}

.mycustom-booklist  {
  padding-top:2%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 6px;
  grid-column-gap: 0.5%;
  max-width: 100%;
}


.mycustom-indivbook {
  border-style: solid;
  border-radius: 30px;
  border-color:  rgba(150, 150, 150, 0.150);
  border-width: 5px;
  background: #fcfcfc;
}

.mycustom-indivbook li { 
  list-style-type: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:3; 
   overflow: hidden;
   max-width: auto;
}

.mycustom-indivbookid{
  max-width: 100%;
  padding: 5% 3% 5% 3%;
}

.mycustom-indivbookimg {
  max-width: 100%;
  min-width: 0%;
}

.mycustom-indivbookimg img{
  min-width: 100%;
}

.mycustom-indivbookdes {
  padding: 5% 3% 5% 3%;
  max-width: 100%;
}

.mycustom-indivbookprice {
  padding: 5% 3% 5% 3%;
  font-size: 25px;
  color: rgb(255, 94, 0);;
}

.mycustom-indivbookcat {
  word-wrap: break-word;
  width: 280px;
  padding: 5% 3% 5% 3%;
}

.mycustom-a {
  color: black;
}

.mycustom-footer  {
  clear: both; 
  background: #b3b3b3;
}

@media screen and (max-width: 700px) {
  .mycustom-row {   
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .mycustom-topnav a {
    float: none;
    width: 100%;
  }
}
