<div>
  <div class="mycustom-jumbotron">
    <div class="mycustom-header">
      <h1>goodreads</h1>
      <% if (typeof cookie.login !== "undefined" && cookie.login == 'true') { %>
        <h2> Hi!, <%= cookie.user_info.name %></h2>
      <% } %> 
      <h4>Welcome to goodreads by BIGdata</h4>
    </div>  
  </div>
  <% if (typeof cookie.error !== "undefined" && cookie.error != '') { %>
    <div class="alert alert-danger alert-dismissible fade show mb-0 text-center" role="alert">
      <strong>Error!</strong> <%= cookie.error %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% } %>
  <div class="mycustom-topnav">
    <a href="/">Home</a>
    <a href="/logs">Logs</a>
    <a href="">Reccommendations / Analytics</a>

    <% if (typeof cookie.login !== "undefined" && cookie.login == 'true') { %>
      <a href="/logout" class="mycustom-right">Logout</a>
    <% } else { %>
      <a onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="mycustom-right">Login</a>
      <div id="id01" class="mycustom-modal">  
        <form class="mycustom-modal-content mycustom-modal-animate" action="/login" method="post">
          <div class="mycustom-modal-imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="mycustom-modal-close" title="Close Modal">&times;</span>
            <img src="/images/profilepicture.png" alt="Avatar" class="mycustom-modal-avatar">
          </div>
          <div class="mycustom-modal-container-top"> 
            <h1>Login</h1>
            <p>Please fill in your account details.</p>
    
            <label for="email"><b>Email Address</b></label>
            <input type="text" placeholder="Enter Email Address" name="email" required>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
              
            <button type="submit">Login</button>
            <!-- <label> 
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label> -->
          </div>
          <div class="mycustom-modal-container-bottom" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="mycustom-cancelbtn">Cancel</button>
            <!-- <span class="mycustom-psw">Forgot <a href="">password?</a></span> -->
          </div>
        </form>
      </div>
    
      <a onclick="document.getElementById('id02').style.display='block'" style="width:auto;" class="mycustom-right">Create New Account</a>
      <div id="id02" class="mycustom-modal">  
        <form class="mycustom-modal-content mycustom-modal-animate" action="/signup" method="post">
          <div class="mycustom-modal-imgcontainer">
            <span onclick="document.getElementById('id02').style.display='none'" class="mycustom-modal-close" title="Close Modal">&times;</span>
            <img src="/images/addprofilepicture.jpg" alt="Avatar" class="mycustom-modal-avatar">
          </div>
          <div class="mycustom-modal-container-top"> 
            <h1>Sign Up</h1>
            <p>Please fill in this form to create an account.</p>
    
            <label for="name"><b>Family Name</b></label>
            <input type="text" placeholder="Enter Family Name" name="name1" required>
    
            <label for="name"><b>Given Name</b></label>
            <input type="text" placeholder="Enter Given Name" name="name2" required>
    
            <label for="uname"><b>Email Address</b></label>
            <input type="text" placeholder="Enter Email Address" name="email" required>
            
            <label for="psw"><b>Create New Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
                
            <label for="psw-reenter"><b>Re-Enter Password</b></label>
            <input type="password" placeholder="Re-Enter Password" name="psw-reenter" required>
    
            <button type="submit">Sign Up</button>
            <div class="mycustom-modal-container-bottom-signup">
              <button type="button" onclick="document.getElementById('id02').style.display='none'" class="mycustom-cancelbtn">Cancel</button>
            </div>
          </div> 
        </form>
      </div>
    <% } %> 
  
    <div class="mycustom-search-container">
        <form action="/search" method="post">
          <input type="text" placeholder="Search.." name="book_id">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
  
  </div>
</div>

<script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script>

<script>
  // Get the modal
  var modal = document.getElementById('id02');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script>